<div class="row">
    <div class="col">
        <div class="row">
            <div class="col  text-center">
                <h1 class="m-3">Get professional</h1>
                <h3>advice to move ahead with your career</h3>

            </div>
        </div>
        <div class="row">
            <div class="col rounded-5">
                <app-upload></app-upload>
            </div>
        </div>
    </div>
    <div class="col">
        <img width="100%" src="assets/expert.jpg">
    </div>
</div>
<div class="row">
    <div class="col m-3">
        <div style="height: 80px;">.</div>
    </div>
</div>