<div class="container-fluid bg-dark text-light p-0 primary">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start dark-bg">
            <div class="h-100 d-inline-flex align-items-center me-4">
                <small class="mdi mdi-earth m-2"></small>
                <small>#305, Bangaluru, India</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <small class="mdi mdi-clock m-2"></small>
                <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center me-4">
                <small class="mdi mdi-phone"></small>
                <small>+012 345 6789</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center mx-n2">
                <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i class="mdi mdi-facebook"></i></a>
                <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i class="mdi mdi-twitter"></i></a>
                <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i class="mdi mdi-linkedin"></i></a>
                <a class="btn btn-square btn-link rounded-0" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
  </div>